<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>130779065918-gc8oquuubqqhgvi8fts10iri2f63t9ag.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.130779065918-gc8oquuubqqhgvi8fts10iri2f63t9ag</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>130779065918-dnc5k1l7aod6gt2dq6h3rpa69sqke62i.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBchAaxrESFEfkTlUtG-rawtWdWchy-sFY</string>
	<key>GCM_SENDER_ID</key>
	<string>130779065918</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dmonster.dongnaebook</string>
	<key>PROJECT_ID</key>
	<string>dongnaebook-5e8fd</string>
	<key>STORAGE_BUCKET</key>
	<string>dongnaebook-5e8fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:130779065918:ios:bbf4994740bbfd3028ab6f</string>
</dict>
</plist>